<a href="https://colab.research.google.com/github/BaldoHenrique/Aula-blue/blob/main/Aula_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [41]:
import pandas as pd

bebidas = {"r0":["coca",10,5],"r1":["guaraná",8,3],"r2":["fanta",7,2],"r3":["uva",5,0]}

In [47]:
df = pd.DataFrame(bebidas)

In [ ]:
df.head()               #mostra as 5 primeiras linhas da tabela

In [ ]:
df.tail()          #mostra as ultimas linhas da tabeala

In [ ]:
df.shape          #tamanho da tabela

In [60]:
estrutura_bebidas = {"botao":["r0", "r1","r2", "r3"],"nome":["coca", "guaraná","fanta", "uva"], "valor": [10,8,7,5], "estoque":[5,3,2,0]}

In [28]:
df2 = pd.DataFrame(estrutura_bebidas)

In [ ]:
df2.head()

In [ ]:
df2.info()

In [ ]:
df2.describe()

In [16]:
var = {'botao':[],'nome':[], 'valor':[], 'estoque':[]}

In [ ]:
for chave,valor in bebidas.items():
  print(chave) 
  print(valor)

In [ ]:
for chave,valor in bebidas.items():
  var["botao"].append(chave)
  var["nome"].append(valor[0])
  var["valor"].append(valor[1])
  var["estoque"].append(valor[2])

print(var)

In [19]:
df3 = pd.DataFrame(var)

In [ ]:
df3.head()

In [ ]:
df.head()

In [49]:
df = df.T    #transpor a tabela

In [ ]:
df.head()

In [45]:
#df = df.reset_index()
#df.reset_index(inplace = True)   #torna a variavel, como se tivesse colocando df=...

In [ ]:
df.head()

In [ ]:
df = df.rename(columns = {"index":"botao",0:"nome",1:"valor",2:"estoque"})
df.head()

In [ ]:
print(type(df["nome"]))

In [ ]:
print(type(df[["nome","valor"]]))

In [ ]:
print(type(df[["nome"]]))   #só por causa de mais um conchetes já entende que é um matriz

In [ ]:
df["valor"].median()

In [ ]:
df["nome"].value_counts(normalize = True)   #conta quantas linhas estão divididas estas palavras

In [ ]:
df["valor"] > 7

In [61]:
mask = df["valor"] > 7 # retorna só os verdadeiros

In [ ]:
df[mask]

In [ ]:
df.query("valor > 7")

In [ ]:
[df["valor"] > 7] and [df["estoque"] > 3]

In [ ]:
# df = df.drop("column_botao",1)
# del df['column_botao']

In [65]:
import pandas as pd
# pd.read_excel("dados.xlsx")

In [66]:
df = pd.DataFrame(
    {
             "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [ ]:
df.head()

In [ ]:
df["Age"]       #seleciona a coluna Age

In [ ]:
df["Age"].max()      #retorna o maior valor da coluna Age

In [ ]:
df.describe()

In [ ]:
df.info()

In [70]:
df5 = df.append(pd.DataFrame({"Name":["McCarthy, Mr. Timothy J","Heikkinen, Miss. Laina"],"Age":[54,26],"Sex":["male", "female"]}))
 #SEM o ignore index , fica fora de ordem

In [ ]:
df5.head()

In [72]:
df5 = df5.reset_index()    #reseta o index

In [ ]:
df5.head()

In [74]:
df6 = df.append(pd.DataFrame({"Name":["McCarthy, Mr. Timothy J","Heikkinen, Miss. Laina"],"Age":[54,26],"Sex":["male", "female"]}),ignore_index=True)        
              #adicionar novas linhas com o IGNORE iNDEX, deixa a tabela em ordem

In [ ]:
df6.head()       # os index ficaram estranhos

**Filtrando e tratando os dados**

Vamos avançar os estudos?
Vamos filtrar os dados, criar novos Dataframes e retornar dados estatísticos.
Recordando nosso Dataframe

In [ ]:
df6.head()

E se quisermos retornar apenas os passageiros do sexo feminino?
Que tal iniciarmos criando um filtro?
Qual o resultado? Vamos analisar

In [ ]:
filtro = df6['Sex'] == 'female'
filtro

Observa os índices da Série Filtro e compare com os índices do Dataframe. Compare aonde está "True" no Series com o df.
E aí? Agora melhorou? Faz o exercício, muda o filtro para "male" e refaça os passos.
Bom. E como é que usaremos este filtro? Agora vem a parte fácil 
Execute o df com o filtro

In [ ]:
df6_filtrado = df6[filtro]
df6_filtrado

Conhecendo um pouco mais sobre outros métodos.
Quantos registros tem em nosso Dataframe?

In [ ]:
df5.count()

Veja que ele retorna a contagem em cada uma das Séries. E se quisermos uma contagem geral? Podemos aplicar um filtro no index.

In [ ]:
df5["index"].count   #apliquei o filtro no "Age"

Agora vamos criar novos Dataframes a partir do principal? Com algumas estatísticas!
Primeiro filtro do sexo feminino.

In [ ]:
filtro = df['Sex'] == 'male'
filtro

Agora vamos criar um Dataframa armazendo os dados de sexo feminino

In [ ]:
df_male = df[filtro]
df_male.head()

Qual a idade máxima, mínima e média do sexo feminino?
O Pandas já tem os métodos prontos pra gente.
Idade máxima

In [ ]:
df_male.describe()
df_male["Age"].max()
df_male["Age"].min()
df_male["Age"].mean()