<a href="https://colab.research.google.com/github/BaldoHenrique/Aula-blue/blob/main/Exerc%C3%ADcios_de_aula_Math.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercícios de aula -  Math

Usando os números 2 ou 3 e as operações + ou *, exiba os números 6, 7, 8, 10, 12, 15, 20 e 50. (por exemplo, 6 é o resultado de 2 + 2 + 2, ou 2 * 3, agora faça para os outros números)

In [ ]:
a6 = 2*3
a7 = 2*2 + 3
a8 = 2*2*2
a10 = 2*3 + 2*2
a12 = 3*3 + 3
a15 = 3*3 + 3*2
a20 = 3*3*2 + 2
a50 = 3*3*3 + 3 + 2*2*2 + 3*3 +3
print(a6, a7, a8, a10, a12, a15, a20, a50)

Usando os números 2 ou 5, as operações - ou * e os parênteses, exiba os números -10, 1, 3, 10, 24, 32, 100, 625

In [ ]:
b10n = -5 -5
b1 = 5 - 2 - 2
b3 = 5 - 2
b10 =  2 * 5
b24 = 2*5*5  - 2*2*5 - 2*2 -2
b32 = 2*5*5 - 2*5 - 2*2*2
b100 = 5*5*5 - 5*5
b625 = 5*5*5*5
print(b10n, b1, b3, b10, b24, b32, b100, b625)

Usando os números 0, 1 ou 2, as operações / ou * e os parênteses, exiba os números 3, 4, 5, 6, 7, 8, 9, 10.

In [ ]:

c3 = (100*0.12) / (2*2)
c4 = 2*2
c5 = (2/2/2)/0.1
c6 = (100*0.12) / 2
c7 = (100*0.21) / ((100*0.12) / (2*2))
c8 = 2*2*2
c9 = ((100*0.12) / (2*2)) * ((100*0.12) / (2*2))
c10 = (2/2)/0.1
print(c3, c4, c5, c6, c7, c8, c9, c10)

Importando a biblioteca MATH
 - Descobrir o valor do número especial (numEspecial) e a lógica do comando math.ceil:

In [ ]:
import math

num = 2.3
numEspecial = math.ceil(num)  #arredonda o numero para cima (ceil=teto) 
print(numEspecial)

Faça o mesmo que o código anterior, mas com a função math.floor(numEspecial). Procure também entender o que é ceil e floor, em inglês.

In [ ]:
num = 2.3
numEspecial = math.floor(num) # arredonda o numero para baixo (floor=chão) 
print(numEspecial)

Veja como utilizar a raiz quadrada e exiba as raízes quadradas de 1, 4, 9, 16, 25, 36, 49, 64, 81 e 100.

In [ ]:
raiz = math.sqrt(100)
print(raiz)
potencia = 5 ** 2  # 5²
print(potencia)

Constante pi

In [ ]:
pi = math.pi
print(pi)

Qual a diferença entre a variável pi do código acima e a novoPi do código abaixo? 
 R:atan é o valor na tangente, em radianos

In [ ]:
novoPi = 4 * math.atan(1)
print(novoPi)
math.atan(1)

Difenrença entre os códigos abaixo:

In [ ]:
import math
pi = math.pi
novoPi = 4 * math.atan(1)

print("Variáveis como definidas")
print(pi)
print(novoPi)

print("Variáveis alteradas")
print("%.5f" % pi)
print("%.2f" % novoPi)

# Mude o número .2 para outros valores e veja o que acontece.
# arredondamento dos numeros

In [ ]:
import random

random.randrange(10) #gera numero de 0 a 9
random.randrange(0, 100, 10) # random.randrange(start, stop, step) -> gera numeros entre o Star e o Stop, podendo pular de acordo com o step
random.randint(5, 10) # gera numeros entre o 5 e o 10

print(random.sample([1, 2, 3, 4, 5], 2)) #gera a quantidade de numeros aleatórios que quiser, entre determinado range

Por último, peça ao usuário para digitar dois números num1 e num2 e exiba os seguintes resultados:

In [ ]:
num1 = int(input("digite o primeiro número: "))
num2 = int(input("digite o segundo número: "))
n1 = num1 + num2
n2 = num1 - num2
n3 = num1 * num2
n4 = num1 / num2
n5 = num1 ** num2 #potencia
n6 = num1 % num2  #resto
print("maior número: ",max(num1,num2))
print(n1, n2, n3, n4, n5, n6)

print(type(num1))
num1 = float(num1)
print(type(num1))