<a href="https://colab.research.google.com/github/BaldoHenrique/Aula-blue/blob/main/Tratamento_de_Dados_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Inicializando o estudo

Importando pandas e lendo a planilha

In [24]:
import pandas as pd
df = pd.read_excel("dados.xlsx")

#Tratando os dados

excluir todas a linhas  que são inteiras nulas

In [25]:
df.dropna(how = "all")  
df = df.dropna(how = "all")

Alterando os nomes das colunas

In [26]:
df.columns = ['nome','data_nasc', 'localidade', 'time', 'biscoito_bolacha', 'arroz',
              'ovo','rodizio', 'coxinha', 'travesseiro', 'catchup', 'nova_coluna']

Como podem ter sido excluídas algumas linhas, vamos reorganizar os índices

In [ ]:
df = df.reset_index()   
df

A coluna nova coluna não tem valores que nos interessa, vamos excluir

In [28]:
df = df.drop(columns = ['nova_coluna'])

#Coluna biscoito e bolacha

Vamos ver a maneira como foram escritos e e quantidade de cada um

In [ ]:
df['biscoito_bolacha'].value_counts()

Como podemos ver, temos que tratar estes valores, foram escritos de diversas maneiras.
Vamos colocar todas as letras em maiusculo e checar se funciona, vamos usar uma outra coluna para isso

In [ ]:
df['bb'] = df['biscoito_bolacha'].str.upper()  
df['bb'].value_counts()

Vamos descobri qual a posição da palavra q esta com problema

In [ ]:
df.loc[:,'bb']

Descobrimos que a palavra no index 2 esta com espaços extras, vamos alterar a string do index 2

In [ ]:
df.loc[2,'bb'] = "BISCOITO"  
df.loc[:,'bb'] 
df['bb'].value_counts()

Depois de conferir que esta tudo certo, vamos passar as informações da coluna "bb" para a coluna 'biscoito_bolacha' e conferir se funcionou

In [ ]:
df['biscoito_bolacha'] = df['bb'] 
df['biscoito_bolacha'].value_counts()

Conferindo a tabela completa para seguir para o tratamento de uma próxima coluna

In [ ]:
df

# Coluna arroz

Refazendo o que foi feito com a coluna 'biscoito_bolacha'

In [ ]:
df['arroz'].value_counts()

Neste caso analisamos mais problemas, vamos substituir todos por letras maiusculas e criar uma nova coluna

In [36]:
dic = {'baixo': 'BAIXO','lado':'LADO', 'cima': 'CIMA', 'clado':'LADO'}
df['arroz2'] = df['arroz'].map(dic)

Vamos comparar uma com a outra

In [ ]:
df[['arroz','arroz2']]

Temos problemas nos indices 21 e 22, podemos atualizar os valores nulos e colocar como o mais comum, entre todos

In [ ]:
df['arroz2'].value_counts()

analisando a contagem acima, decidimos colocar os dois faltantes como o mais comum, 'baixo', que significa que o arroz fica embaixo do feijão

In [ ]:
df['arroz2'] = df['arroz2'].fillna(df['arroz2'].mode()[0])   
df['arroz2']

Agora vamos definir a coluna 'arroz'

In [40]:
df['arroz'] = df['arroz2']

# Coluna Ovo

Para tratarmos a coluna ovo, vamos fazer o mesmo procedimento

In [ ]:
df['ovo'].value_counts()

In [ ]:
df['ovo']

Temos 3 index com problemas e vamos substituílos pelo mais comum

primeiro, vou substituir o index 21, depois vou substituir os valores nulos

In [ ]:
df.loc[21,"ovo"] = "gema mole"             # substituindo o index 21
df['ovo'] = df['ovo'].fillna(df['ovo'].mode()[0])    #substituindo os valores nulos
df['ovo']
df['ovo'].value_counts()

Feito o tratamento da coluna 'ovo'

# Coluna Rodizio

In [ ]:
df['rodizio'].value_counts()

 mostrar quais indices não estão conforme os 3 string da função, os diferentes de "carne", "japa" e "pizza"

In [ ]:
df[(df['rodizio'] != "carne") & (df['rodizio'] != "japa") & (df['rodizio'] != "pizza")].index

da pra ver que o index 21 e o 22 não estão conformes

outro método de saber isso é criando uma lista e fazendo o not do que esta dentro da lista

In [ ]:
lista = ['carne','pizza','japa']
df[~df['rodizio'].isin(lista)]

vimos que precisamos ajustar dois valores, 'Japa' e 'carne/pizza', 'Japa' só vou ajustar para letras minusculas e 'carne/pizza', vou colocar para o mais comum.

In [ ]:
df.loc[21,"rodizio"] = "japa"
df.loc[22,"rodizio"] = "pizza"
df["rodizio"]
df["rodizio"].value_counts()

Para ver em porcentagem podemos usar o código abaixo

In [ ]:
df['rodizio'].value_counts(normalize = True)

# Coluna Coxinha

In [ ]:
df['coxinha'].value_counts()

In [ ]:
df['coxinha']

Temos apenas um problema, no index 22, vamos colocar como mais comum, OBS: como estamos vendo que o problema seguido se repete com a linha 22, podemos excluir ela inteira, mas é apenas uma sugestão

In [51]:
df.loc[22,'coxinha'] = "bico"

# Coluna Travesseiro

In [ ]:
df['travesseiro'].value_counts()

In [ ]:
df['travesseiro']

Como dito antes, o problema se repete na linha 22, então vamos excluir. Até pq os valores dados a ela não são inteiramente verdadeiros, sendo que estamos atribuindo conforme achamos mais conveniênte

Excluindo a linha 22 e reorganizando os índices

In [54]:
df = df.drop(index=22)

In [55]:
df=df.reset_index()

In [ ]:
df

#Coluna Localidade

In [ ]:
df['localidade'].value_counts()

In [ ]:
df['localidade']

Podemos ver q uma cidade esta em o estado e a outra esta com '-' no lugar de '/'

Vou substituir "-" por "/"

In [59]:
df['localidade'] = df['localidade'].str.replace('-','/')

Vou inserir a sigra do estado

In [60]:
df = df.replace('Rio de Janeiro','Rio de Janeiro/RJ')

Agora vou utilizar a coluna localidade e criar outras duas, separar em cidade e estado

In [61]:
df[['cidade','estado']] = df['localidade'].str.split('/',expand = True)   #cria cidade e estado a partir de localidade

In [ ]:
df

Apagando as colunas que não nos interessam

In [64]:
df = df.drop(columns = ['bb','arroz2'])

In [65]:
df = df.drop(columns = ['level_0','index'])

In [ ]:
df.head(1)

# Coluna Time

Checando os strings da coluna

In [ ]:
df['time'].value_counts()

In [ ]:
df['time']

Temos alguns problemas, vou subtituir as palavras 'não' e nulos por 'sem time'. O 'vai corinthian' vou transforar em corinthias

In [70]:
df['time'] =  df['time'].replace('não','sem time')
df = df.replace('VAI CURINTIA','Corinthians')
df['time'] = df['time'].fillna('sem time')

In [ ]:
df['time']

# Coluna Catchup

Checando a coluna Catchup, para ver como foram escritos

In [ ]:
df['catchup'].value_counts()

In [ ]:
df['catchup']

Vou substituir todos por letras maiusculas, para essa forma funcionar, temos q subsituir todos os valores existentes, e os não existentes ficarão nulos.

Vou criar uma coluna nova para não correr o risco de estrar a já feita

In [74]:
dic = {'sim': 'SIM','Sim':'SIM','Não':'NÃO','sem time':'NÃO'}
df['cat2'] = df['catchup'].map(dic)  
df['catchup'] = df['cat2']

Excluindo a caluna criada

In [75]:
df = df.drop(columns = ['cat2'])

In [ ]:
df.head(2)

#Coluna Data_Nascimento

Analisando a coluna data de nascimento

In [ ]:
df['data_nasc']

Separar a coluna 'data_nasc' em outras 3 colunas, dia, mes e ano

In [80]:
df['day'] = df['data_nasc'].dt.day
df['month'] = df['data_nasc'].dt.month
df['year'] = df['data_nasc'].dt.year

Criar a coluna idade, utilizando a caluna ano diminuindo pelo ano atual

In [81]:
df['idade'] =  2022 - df['year']

Exportando os dados tratados

In [82]:
df.to_csv('dados_tratados.csv',index=False)

<!-- def mapear_regiao2 (x):
  if x['estado'] in lista sudeste:
    return 'Sudeste
  else:
    return 'Dutra' -->